.Rproj.user
.Rhistory
.RData
.Ruserdata
.dta

# Ignore some
documentation/
all_intakes/
output/
old_nhanes/
0_SPADE_OUTPUT/

# Ignore large files
data/processed/

# Ignore raw data
data/raw/Subnational distributions paper data
